:root{
  color-scheme: dark;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Poppins, system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}

@keyframes scan {

  0% {
    top: 0;
  }

  100% {
    top: 100%;
  }
}